/* This is for the header and the page layout
	This code is for all three pages.*/

body {
  background-image: url("assets/images/background.jpg");
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-size: 15px;
  width: 90%;
}
* {
  box-sizing: border-box;
}

header {
  text-align: center;
  float: left;
  background-color: black;
  color: white;
  height: 60px;
  width: 270px;
  padding-top: 20px;
  margin-left: 100px;
  margin-bottom: 0;
  font-weight: bold;
  vertical-align: middle;
}

h1 {
  color: black;
  padding-bottom: 4px;
  border-bottom: 5px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 2px;
}

h3 {
  margin-left: 40px;
}

nav {
  text-align: center;
  width: 270px;
  float: right;
  margin-right: 120px;
  left: 700px;
  background-color: black;
  position: absolute;

  margin-top: -4px;
  padding-bottom: 14px;
}
.links {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}
li {
  float: left;
  width: 80px;
  padding: 10px;
  color: white;
}
a {
  color: white;
}
.border {
  padding: 10px;
  border-right: 1px solid white;
}

a:visited {
  color: lightgray;
}

.headercontainer {
  border-bottom: 9px solid black;
  background-color: black;
  height: 60px;
}

#maincontainer {
  background-color: white;
  padding-top: 30px;
}

.innercontainer {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  clear: both;
}

h1 {
  height: auto;
  padding: 2px;
  font-size: 30px;
}

/* Picture on about me page */

img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 250x;
  width: 200px;
}

/* portfolio section*/

.portfolio {
  position: relative;
  float: left;
  /* padding-left: 3%;
            padding-right: 1%;
            padding-top: 3%;
            background-clip: content-box; */
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
  bottom: 8px;
  right: 16px;
}

.btn {
  position: absolute;
  border: black;
  color: white;
  bottom: 8px;
  left: 40px;
  opacity: 100%;
  width: 50%;
  padding: 10px;

  background-color: black;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* Containers for the contact information */

.mainsection {
  float: left;
  width: 100%;
  max-width: 90%;
  padding: 20px;
  margin: 0 0 40px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
}

/* input[type="text"]::placeholder {  
                          
            text-align: top;
            text-align: left;
        }  */

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;
}

#message {
  position: relative;
  height: 150px;
}
input {
  width: 100%;
  padding: 8px 18px 8px 18px;
  border-color: #dddddd;
  border-style: solid;
  border-width: thin;
  margin: 8px 0;
}

footer {
  /* Had the position to fixed and was frustrated 
            because my page wouldnt scroll all the way down 
            until i finally realized and changed the position 
            to relative */

  position: active;
  left: 0;
  bottom: 0;
  clear: both;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
  vertical-align: middle;
  width: 100%;
  height: 70px;

  border-bottom: none;
  font-size: small;
  border-top: 8px solid;
}

/* media quieries here */

@media only screen and (max-width: 960px) {
  footer {
    width: 100%;
  }
  .headercontainer {
    width: 100%;
  }
  nav {
    left: 445px;
    background-color: black;
    position: absolute;
    float: right;
    margin-top: -4px;
    padding-bottom: 14px;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
  .headercontainer {
    width: 100%;
  }
  nav {
    left: 445px;
    background-color: black;
    position: absolute;
    float: right;
    margin-top: -4px;
    padding-bottom: 14px;
  }
}
@media only screen and (max-width: 640px) {
  footer {
    width: 100%;
  }
  .headercontainer {
    width: 100%;
    text-align: center;
  }
  header {
    margin-left: 0px;
  }
  nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    width: 100%;
    float: left;
    text-align: center;
    background-color: black;
    color: white;
  }
}
